<tr class="fields">
  <td><%= vms_form.text_field :nom%></td><td><%=vms_form.text_field :template %></td><td><%= vms_form.text_field :etat_id %></td><td><%= vms_form.text_field :ip_default %></td>
  <td><%= link_to_remove_fields "remove", vms_form %></td>
</tr>
