<% @mesapps.each do |mesapp|%>
  <!-- c'est la carte de chaque App -->
 <a href="#" data-reveal-id="appModal-<%=mesapp.apps.id%>" >
  <li class="custom-card"  >
    <p><%= mesapp.apps.nom %></p>
    <p><%= mesapp.roles.nom %></p>
  </li>
  <!-- c'est le dialog flottant correspondant en cliquant la carte -->
  <div id="appModal-<%=mesapp.apps.id%>" class="reveal-modal" data-reveal arial-labelledby="modalTitle"
        aria-hidden="true" role="dialog">

        <h2 id="modalTitle"> <%= mesapp.apps.nom %> </h2> <h5 class="app-etat">est en <%=mesapp.apps.etape_app.nom%></h5>
        <p class="lead">Gestion Fonctionnel</p>
        <table >
          <tr>
            <th> Title </th>
            <th> Valeur </th>
          </tr>
          <% if mesapp.apps.etape_app.id > 2 %>
            <tr><td>Niveau</td><td><%= mesapp.apps.niveau %></td>
            </tr>
            <tr><td>Etat</td><td><%= mesapp.apps.etat_app.nom %></td>
            </tr>
            <tr><td>Groupe</td><td><%= mesapp.apps.groupe_app.nom%></td>
            </tr>
          <% end %>

          <tr><td>Description</td><td><%= mesapp.apps.description %></td>
        </tr>
       </table>
        <a class="close-reveal-modal" arial-label="Close">&#215;</a>

        <a zf-close="" class="button"> Save </a>
        <a zf-close="" class="button"> Cancel</a>

  </div>
</a>
<% end %>
<li class="nouvel-card" data-reveal-id="newApp" href="#">
  <% #= link_to 'Créer une nouvelle App', new_app_path,:id=>'create_app', data: {toggle: 'modal', target: '#content'}%>
  <p>Créer une nouvelle App</p>
</li>

<div data-reveal id="newApp" class="reveal-modal" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="ModalLabel">Créer App</h4>
      </div>
      <div class="modal-body">
        <%= render new_app_path, modal:false %>
      </div>

      <a class="close-reveal-modal" arial-label="Close">&#215;</a>
    </div>
  </div>
  <%#= link_to 'Créer',mesapps_path(current_user[:id]) %>
</div>
