<%= @mesapps.each do |mesapp|%>
  <!-- c'est la carte de chaque App -->
 <a href="#" data-reveal-id="appModal-<%=mesapp.apps.id%>" >
  <li class="custom-card"  >
    <p><%= mesapp.apps.nom %></p>
    <p><%= mesapp.roles.nom %></p>
  </li>
  <!-- c'est le dialog flottant correspondant en cliquant la carte -->
  <div id="appModal-<%=mesapp.apps.id%>" class="reveal-modal" data-reveal arial-labelledby="modalTitle"
        aria-hidden="true" role="dialog">

        <h2 id="modalTitle"> <%= mesapp.apps.nom %> </h2>
        <p class="lead">Gestion Fonctionnel</p>
        <table >
          <tr>
            <th> Title </th>
            <th> Valeur </th>
          </tr>
          <tr><td>Niveau</td><td><%= mesapp.apps.niveau %></td>
          </tr>
          <tr><td>Etape</td><td><%= mesapp.apps.etape_app.nom %></td>
          </tr>
          <tr><td>Groupe</td><td><%= mesapp.apps.groupe_app.nom%></td>
          </tr>

       </table>
        <a class="close-reveal-modal" arial-label="Close">&#215;</a>

        <a zf-close="" class="button"> Save </a>
        <a zf-close="" class="button"> Cancel</a>

  </div>
</a>
<% end %>
<li class="nouvel-card">
  <%= link_to 'Créer une nouvelle App', new_app_path,:id=>'create_app', data: {toggle: 'modal', target: '#content'}%>
</li>

<div id="content" class="modal fade" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dimiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="ModalLabel">Créer App</h4>
      </div>
      <div class="modal-body">
        <%= render 'apps/form',modal:false %>
      </div>
    </div>
  </div>






  <%#= link_to 'Créer',mesapps_path(current_user[:id]) %>
</div>
