<!-- ====== c'est des cartes de 'Mes App' ===== -->
<% if @mesapps.empty? %>
 <p> Non App maintenant. </p>
<% else %>
  <% @mesapps.each do |mesapp|%>
    <%= link_to app_path(mesapp.apps), data:{ remote:true, toggle:"modal",traget:"#show_app_modal" } do%>
      <li class="custom-card" id="app-<%=mesapp.apps.id%>">
        <p><%= mesapp.apps.nom %></p>
        <p><%= mesapp.roles.nom %></p>
      </li>
    <% end %>
  <% end %>
<% end %>
<!-- ===== c'est la carte de créer nouvelle App ==== -->
<%= link_to new_app_path, data:{ remote:true, toggle:"modal",traget:"#new_app_modal" } do%>
  <li class="nouvel-card" >
    <p>Créer une nouvelle App</p>
  </li>
<% end %>

<!--****** Section du modal dialog template ******-->

<!-- c'est le modal dialog d'afficher information d'App -->
<div class="modal" id="show_app_modal" aria-hidden="true" role="dialog" aria-labelledby="modalTitle" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content"></div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- c'est le modal dialog de rédiger gestion fonctionnel d'App -->
<div id="edit_app_modal" class="modal fade"  arial-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content"></div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- c'est le modal dialog de rédiger gestion technique d'App -->
<div id="edit_tech_app_modal" class="modal fade"  arial-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content"></div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- c'est le modal dialog de créer une nouvelle App -->
<div id="new_app_modal" class="modal" role="dialog"  backdrop="static" aria-labelledby="ModalLabel" data-keyboard="false" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
