<!--div id="edit_app_modal" class="reveal-modal" class="modal fade" data-reveal arial-labelledby="modalTitle" aria-hidden="true" role="dialog"-->
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 id="modalTitle"> <%= @app.nom %> </h2> <h5 class="app-etat">est en <%=@app.etape_app.nom%></h5>
      </div>

      <div class="modal-body">
        <div id="fonctionnel">
          <i class=".fi-list"><p>Gestion Fonctionnel</p></i>
          <%= form_for @app, :url=> {controller=>'apps', :action=> 'edit'} do |f| %>
            <%= render 'apps/form_fonc', :f=>f %>

            <div class = "actions">
              <%= f.submit "Update", class: 'btn btn-large btn-primary'%>
            </div>

          <% end %>

        </div><!-- /.content -->

        <div id="technique">
          <i class="fi-results"><p>Architecture</p></i>
        </div>

      </div><!-- /.modal-body -->
      <div class="modal-footer">
        <%=link_to "Annuler",app_path(@app), data:{ toggle:"modal",traget:"#show_app_modal"},remote:true, :class=>"secondary button"%>
        <%=link_to "Technique Zone",app_tech_path(@app), data:{ toggle:"modal",traget:"#edit_tech_app_modal"},remote:true, :class=>"button"%>
        <!--a href="#", data-traget="#show_app_modal", aria-hidden="true", class="secondary button"> Annuler</a-->
      </div><!-- /.modal-footer -->
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
<!--/div>< /.modal -->
