<!--div id="edit_app_modal" class="reveal-modal" class="modal fade" data-reveal arial-labelledby="modalTitle" aria-hidden="true" role="dialog"-->
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 id="modalTitle"> <%= @app.nom %> </h2> <h5 class="app-etat">est en <%=@app.etape_app.nom%></h5>
      </div>

      <div class="modal-body">
        <div id="fonctionnel">
          <i class="fi-list"><h5>Gestion Fonctionnel</h5></i>

          <%= form_for @app, :url=> {controller=>'apps', :action=> 'update'} do |f| %>
          <%= render 'layouts/error_message', object: @app %>
            <%= render 'apps/form_fonc', :f=>f %>

            <div class = "actions">
              <%= link_to "Update", app_path(@app), :data => { :"disable-with"=> "Loading...",toggle:"modal",traget:"#show_app_modal"},remote:true, class: 'btn btn-large btn-primary'%>
            </div>

          <% end %>

        </div><!-- /.content -->

        <div id="technique">
          <i class="fi-results"><h5 >Architecture</h5></i>
        </div>

        <div class="modal-footer">
          <%=link_to "Annuler",app_path(@app), data:{ toggle:"modal",traget:"#show_app_modal"},remote:true, :class=>"btn btn-default"%>
          <%=link_to "Gestion Technique",app_service_in_apps_path(@app), data:{ toggle:"modal",traget:"#edit_tech_app_modal"}, remote:true, :class=>"btn btn-primary"%>
          <!--a href="#", data-traget="#show_app_modal", aria-hidden="true", class="secondary button"> Annuler</a-->
        </div><!-- /.modal-footer -->
      </div><!-- /.modal-body -->
    </div><!-- /.modal-content -->

  </div><!-- /.modal-dialog -->
<!--/div>< /.modal -->
