
<div class="field">
  <% if @app.etape_app.id > 2 %>
    <p><%= f.label :niveau %><%= f.text_field :niveau %></p>
    </tr>
    <%= f.fields_for :etat_app, @app.etat_app.build do |etat_fields|%>
      <p><%= etat_fields.label :etat %><%= etat_fields.text_field :nom %></td>
      </tr>
    <% end %>
    <%= f.fields_for :groupe_app, @app.groupe_app.build do |groupe_fields|%>
      <p><%= groupe_fields.label :groupe %><%= groupe_fields.text_field :nom %></td>
      </tr>
    <% end %>
  <%# end %>

  <p><%= f.label :description %><%= f.text_field :description %></p>
</div>
