  <%= form_for :app, :url =>{action: "create"}, do |form_app| %>
<%= render 'layouts/error_message', object: form_app.object %>

  <div class="field">
    <%= form_app.label :nom %><br/>
    <%= form_app.text_field :nom, placeholder: "App Nom...", :size => 30 %><br/>
    <%= form_app.label :description %><br/>
    <%= form_app.text_area :description, placeholder: "Description...", :rows => 3  %>

    <%= form_app.fields_for @user_app_roles do |relation_fields|%>
      <%= relation_fields.hidden_field :user_id, :value => current_user.id %>
        <%= relation_fields.hidden_field :role_id, :value => 1 %>

    <% end %>
  </div>

  <div class = "actions">
    <%= form_app.submit "Créer", disable_with: 'Créer...', class: 'btn btn-large btn-primary' %>
  </div>

<% end %>
