<div class="modal-dialog">
  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="ModalLabel">Créer App</h4>
    </div>

    <div class="modal-body">
      <div id="content">
        <%= form_for @app do |form_app| %>
        <%= render 'layouts/error_message', object: @app %>

        <div class="field">
          <%= form_app.label :nom %><br/>
          <%= form_app.text_field :nom, placeholder: "App Nom...", :size => 30 , class:'form-control'%><br/>
          <%= form_app.label :description %><br/>
          <%= form_app.text_area :description, placeholder: "Description...", :rows => 3, class:'form-control'  %>
            <%= form_app.hidden_field :etape_app_id, :value => find_etape_id("Brouillion")%>
            <%= form_app.hidden_field :etat_app_id, :value => find_etat_id("Normal") %>

          <%= form_app.fields_for :user_app_roles,@app.user_app_roles.build do |relation_fields|%>
            <%= relation_fields.hidden_field :user_id, :value => current_user.id %>
            <%= relation_fields.hidden_field :role_id, :value => find_role("User") %>

          <% end %>
        </div>
        <div class="modal-footer">
          <div class = "actions">
            <%= form_app.submit "Créer", :data => { :"disable-with"=> "Loading..."}, class: 'btn btn-large btn-primary' %>
          </div>
        </div>
      <% end %>
      </div>

    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
