<div id="content">
<%# form_for @app, :url=> {controller=>'apps', :action=> 'show'}, remote:true do |f| %>

<%# form_for @app do |f| %>
  <%#= render 'apps/form' %>
<%# end %>
<%= form_for @app,:url=> {controller=>'apps', :action=> 'show'} do |f| %>
  <table >
    <tr>
      <th> Title </th>
      <th> Valeur </th>
    </tr>

    <% if @app.etape_app_id > 2 %>
      <tr><td>Niveau</td><td><%= @app.niveau %></td>
      </tr>
      <tr><td>Etat</td><td><%= @app.etat_app.nom %></td>
      </tr>
      <tr><td>Groupe</td><td><%= @app.groupe_app.nom%></td>
      </tr>
    <% end %>

    <tr><td>Description</td><td><%= @app.description %></td>
    </tr>

  </table-->

<% end %>
<%#= link_to "Edit"，edit_app_path(@app) %>
<%#= link_to "Delete", @app, mesapps_url(current_user) ,data:{:confirm => 'Vous etês sure delete cet App?'}, :method => :destroy %>

</div>
