<div class="field">
  <div id="vm-conf">
    <h5>VM Configuration</h5>
    <%= link_to "#", :class=> "btn-new-vm btn btn-info btn-sx" do%>
      <i class="fi-plus"> New VM</i>
    <%end%>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Template</th>
          <th>Etat</th>
          <th>IP Adresse</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% if @service_ins.present? %>
          <% @vm_installs.each do |vis| %>
            <tr>
              <td><%= vis.vm.nom%></td><td><%=vis.vm.template %></td><td><%= vis.vm.etat_app.nom %></td><td><%= vis.ip_defaut %></td>
              <td><%= link_to 'Destroy', vis, :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= fields_for :vms do |vs|%>
      <div class="field">
        <%= vs.label "Selection VMs: " %><%= vs.select :id,Vm.all.map { |vm| [vm.nom, vm.id] }, {:prompt => false},
        {:class=>'multiselect', multiple:'multiple',id:"VM-multselect"}%><button type="submit" class="btn btn-default">Add</button>
        <%#= vs.hidden_field :user_id, :value => current_user.id %>
        <%#= relation_fields.hidden_field :role_id, :value => 1 %>

      </div>
    <% end %>

  </div>

  <div id="serv-conf">
    <h5>Service-IN Configuration</h5>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Service IN</th>
          <th>Port</th>
          <th>Protocole</th>
          <th>VM</th>
          <th>Install par defaut</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% if @service_ins.present? %>
          <% @service_ins.each do |s| %>
            <tr>
              <td><%= s.nom%></td><td><%=s.port %></td><td><%= s.protocole %></td>
              <td><%= vs.select :vm_id, Vm.all.map { |vm| [vm.nom, vm.id] }, {:prompt => false}, {:class=>'multiselect', multiple:'multiple'}%></td>
              <td><%#= check_box_tag , s.is_defaut %></td>
              <td><%= link_to 'Destroy', vis, :confirm => 'Are you sure?', :method => :delete %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>


  </div>




  </div>




</div>
