<div class="field">
  <%#= fields_for @service_in_app, :url=> {controller=>'service_in_apps', :action=> 'update'} do |siv_fields| %>
  <div id="vm-conf">
    <%= f.fields_for :vms do |vms_form|  %>
    <table class="table table-hover" id="vm-table">
      <caption>VM Configuration</caption>
      <%= link_to "#", :class=> "btn-new-vm btn btn-info btn-sx" do%>
        <i class="fi-plus"> New VM</i>
      <%end%>
      <thead>
        <tr>
          <th>Nom</th>
          <th>Template</th>
          <th>Etat</th>
          <th>IP Adresse</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>

        <tr class="fields">
          <td><%= vms_form.text_field :nom%></td><td><%=vms_form.text_field :template %></td><td><%= vms_form.text_field :etat_id %></td><td><%= vms_form.text_field :ip_default %></td>
          <td><%= link_to_remove_fields "remove", vms_form %></td>
        </tr>



      </tbody>
    </table>
    <p><%#= link_to_add_fields "Add VM", f, :vms %></p>
      <%#=fields_for :vms do |vi_form|%>
      <div class="field">
        <%= vms_form.label "Selection VMs : " %><%#= select_tag "vm_install[]", options_for_select( Vm.all.map { |vm| [vm.nom, vm.id] }),{:class=>'multiselect',:multiple=>'multiple'}%>
        <%= vms_form.select :id, Vm.all.map { |vm| [vm.nom, vm.id] },{:prompt => false},{:class=>'multiselect', :multiple=>'multiple', :id=>"VM-multiselect"}%>
        <%#= link_to_add_fields "Add", f, :vms, :data => { :"disable-with"=> "Loading..."}, :id=>"add_vm",:class=>"button btn btn-default" %>
        <%= link_to_add_fields "Add", f, :vms %>
        <%#= vs.hidden_field :user_id, :value => current_user.id %>
        <%#= relation_fields.hidden_field :role_id, :value => 1 %>
      </div>
      <%# end %>
      <% end %>



  </div>

    <div id="serv-conf">
      <table class="table table-hover">
        <caption>Service-IN Configuration</caption>
        <thead>
          <tr>
            <th>Service IN</th>
            <th>Port</th>
            <th>Protocole</th>
            <th>VM</th>
            <th>Install par default</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% if @service_ins.present? %>
            <%= @service_ins.each do |s| %>
              <tr>
                <td><%= s.nom%></td><td><%=s.port %></td><td><%= s.protocole %></td>
                <td><%= vs.select :vm_id, Vm.all.map { |vm| [vm.nom, vm.id] }, {:prompt => false}, {:class=>'multiselect', multiple:'multiple'}%></td>
                <td><%#= check_box_tag , s.is_default %></td>
                <td><%= link_to 'Destroy', vis, :confirm => 'Are you sure?', :method => :delete %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <%= fields_for :servics do |s|%>
        <div class="field">
          <%= s.label "Selection Services : " %><%= s.select :id, Service.all.map { |s| [s.nom, s.id] }, {:prompt => false},
          {:class=>'multiselect', multiple:'multiple',id:"serv-multiselect"}%><button type="submit" class="btn btn-default">Add</button>
          <%#= vs.hidden_field :user_id, :value => current_user.id %>
          <%#= relation_fields.hidden_field :role_id, :value => 1 %>

        </div>
      <% end %>

    </div>

    <div class="modal-footer">
      <div class = "actions">
        <%#= siv.submit "Save", class: 'btn btn-large btn-primary'%>
        <%=link_to "Annuler",edit_app_path(@app), data:{ toggle:"modal",traget:"#edit_app_modal"},remote:true, :class=>"btn btn-default"%>
      </div>
    </div><!-- /.modal-footer , {:controller=>'service_in_apps', :action=> 'edit_tech'}-->
  <%# end %><!--form_for service_in_app-->
</div><!--field -->
