<table class="table table-hover" id="vm-table">
  <caption>VM Configuration</caption>

  <thead>
    <tr>
      <th>Nom</th>
      <th>Template</th>
      <th>Etat</th>
      <th>IP Adresse</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if vm_installs.empty? %>
    <tr class="fields">
      <td>There is no VM</td>
    </tr>
    <% else %>
      <%= vm_installs.each do |s| %>
        <tr class="fields">
          <td><%= s.nom%></td><td><%=s.template %></td><td><%= s.etat.nom %></td>
          <td><%= vs.select :vm_id, Vm.all.map { |vm| [vm.nom, vm.id] }, {:prompt => false}, { multiple:'multiple'},:class=>'multiselect form-control input-sm'%></td>
          <td><%#= check_box_tag , s.is_default %></td>
          <td><%= link_to 'Destroy', s, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>
