<%# navigation styled for Zurb Foundation 5 %>
<nav id="top-bar" class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <div class="nav navbar-header navbar-left">
      <ul >
        <li>
          <% if user_signed_in? %>
            <%= link_to "UbiQube", mesapps_path(current_user), id: "logo" %>
          <% else %>
            <%= link_to "UbiQube", root_path, id: "logo"%>
          <% end %>
        </li>
        <!--li class="name"--><%#= link_to 'Home', root_path %><!--/li-->
        <li>
          <form class="navbar-form" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Find App">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </li>
      </ul>
    </div><!--left-->

    <div class="nav navbar-brand">
      <%=image_tag("logo_sur_menu.jpg", :alt=>"UbiQube", :id=>"logo-menu")%> 
    </div><!--center-->

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <%#= render 'layouts/navigation_links' %>
        <li><%= link_to 'About', page_path('about') %></li>
        <% if user_signed_in? %>

          <li><%= link_to 'Users', users_path %></li>

          <li class="dropdown" >
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
              Mon Compte<b class="caret"></b></a>

            <ul class="dropdown-menu" >
              <li><%= link_to "Mon Profile", user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to 'Sign out', signout_path %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to 'Sign in', signin_path %></li>
        <% end %>
      </ul>
    </div><!--right-->

  </div>
</nav>
